#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
#nav li {
  display: inline;
  padding: 40px;
}
#nav a {
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: turquoise;
}
#nav a:hover {
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: #000;
}
#root {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  background-color: darkturquoise;
  font-weight: bold;
}

#one {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: darkgreen;
  font-weight: bold;
  border-radius: 50px;
}
#Two {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: cornflowerblue;
  font-weight: bold;
  border-radius: 50px;
}
#Three {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: blue;
  font-weight: bold;
  border-radius: 50px;
}
#four {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: darkmagenta;
  font-weight: bold;
  border-radius: 50px;
}
#five {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: darkturquoise;
  font-weight: bold;
  border-radius: 50px;
}
#six {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: darkturquoise;
  font-weight: bold;
  border-radius: 50px;
}
#seven {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: darkturquoise;
  font-weight: bold;
  border-radius: 50px;
}
#eight {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: darkturquoise;
  font-weight: bold;
  border-radius: 50px;
}
#root:hover {
  position: relative;
  top: 5px;
  left: 5px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
}
#root img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#Two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#Three img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#four img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#five img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#six img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#seven img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#eight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  margin: auto;
}
@media (max-width: 768) {
  .item-tile {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .item-tile {
    width: 30%;
  }
}
